/* ===== Button - Contact me! (home.html) ===== */
.representation-button-contact {
    padding: 8px 16px;
    border: 1px solid #C778DD;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out;
}

.representation-button-contact:hover {
    background: rgba(199, 120, 221, 0.3);
}

.representation-button-contact.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ===== The effect of printing text (home.html) ===== */
.typing-cursor::after {
    content: '_'; /* '_', '█', '▍' */
    animation: blink 0.5s infinite;
    margin-left: 2px;
    opacity: 1;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50%      { opacity: 0; }
}

/* ===== Tabs ===== */
.prefix {
    color: #C778DD;
    font-size: 2rem;
}

.tab-fragment {
    margin-top: 112px !important;
}

/* ===== Projects buttons  =====  and  ===== About-me button  ===== */
.btn-live,
.btn-cached,
.read-more {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 1rem;
}

.btn-live,
.read-more {
    border: solid 1px #C778DD;
    margin: 16px;
}

.btn-cached {
    border: solid 1px #ABB2BF;
    margin: 16px -8px;
}

.read-more {
    margin-left: 0;
    margin-top: 0;
}
