/* ===== Base classes - for padding and centering ===== */
.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-left: clamp(20px, 12.5vw, 171px);
    padding-right: clamp(20px, 12.5vw, 171px);
    box-sizing: border-box;
}

.container {
    align-items: center;
    justify-content: space-between;
}